@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline:opsz,wght@10..72,100..900&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=DM+Serif+Text:ital@0;1&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Slab:wght@100..900&display=swap');

@media (max-width: 920px) {
  .left {
      max-width: 200px;
  }

}

body {
  /*text-align: left;*/
  background-color: white;
  color: black;
  font-family: "Nunito", Arial, sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.bottom {
  display: flex;
  flex-direction: row;
}

.chat-box {
  border: 1px solid #ccc;
  padding: 10px;
  height: 325px;
  overflow-y: scroll;
  font-size:small;
}



.chat-input button {
  background-color: white;
  color: black;
  width: 17%;
  height: 35px;
  border:0;
}

.chat-input button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.chat-input input {
  width: 80%;
  height: 35px;
  padding: 0px;
  margin-right: 10px;
  background-color: #282c34;
  color: black;
}

.chat-input input:hover {
  background-color: black;
  color:white;
}

.contact {
  display: flex;
  flex-direction:column;
  min-width: 100px;
  min-height: 350px;
  margin-top: 20px;
}

.empty-message {
  display: flex;
  justify-content: center;
}

.end-note {
  width:100%;
  padding:1px;
  position: fixed;
  bottom: 0px;
  z-index: 0;
  background-color: aquamarine;
  color: black;
  text-align: center;
}

.friends-list {
  overflow-y: scroll;
  flex-grow: 1;
}

.friends-list-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.friends-list-heading button {
  height: fit-content;
  margin-right: 10px;
}

.general_chat {
  margin-right: 10px;
  min-width: auto;
  min-height: 250px;
  border-width: 5px;
  border-color: white;
  border-style:ridge;
}

.head{
  display: flex;
  flex-direction: column;
  background-color: #F0E2C1;
}

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0px;
  z-index: 2;
  background-color: transparent;
  color: black;
  /*backdrop-filter: blur(10px);*/
  width: 100%;
}

.header a {
  font-size: larger;
  text-decoration: none;
  padding: 5px;
  margin: 20px 35px;
  border-radius: 5px;
  color: black;
}

.header a:hover {
  background-color: black;
  color: white;
}

.header h2{
  align-self: center;
  margin-left: 10px;
}

.home {
  margin-top: 70px;
  width: 100%;
}

.homepage_distribution {
  display: flex;
}

.left {
  width: 400px;
  display: flex;
  flex-direction: column;
}


.logout-button {
  border-radius: 10px;
  border: 0;
  height: 50px;
  width: 100%;
  background-color: aliceblue;
  color: #000;
  align-self: center;
  margin-bottom: 25px;
}

.logout-buttons {
  border-radius: 10px;
  border: 0;
  height: 40px;
  width: 100px;
  background-color: red;
  color: black;
  align-self: center;
  margin: 0px 35px;
}

.logout-buttons:hover {
  cursor: pointer;
  color: white;
}

.logout-button:hover {
  cursor: pointer;
  background-color: red;
  color: white;
}

.login {
  margin-top: 0px;
  background-color: white;
  width: 100vw;
  height: 100vh;
  color: black;
  display: flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.login button {
  display: block;
  height: 40px;
  width: 170px;
  background-color: azure;
  font-size: larger;
}

.login button:hover {
  cursor: pointer;
}

.login input {
  height: 20px;
  display: block;
  margin-bottom: 10px;
  border-color: aliceblue;
  background-color: #282c34;
  color: black;
}

.login a {
  color: black;
}

.login a:hover {
  color:white;
  background-color: black;
  padding: 2px;
}

.login-to-continue {
  display: flex;
  translate: 0px 100px;
}

.message {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:baseline;
}

.message p {
  width: 150px;
  text-align: right;
}

.navbar {
  display: flex;
  background-color: #F0E2C1;
}
/*
.private_chat {
  flex: 1 1 400px;
  max-width: 100%;
  min-width: 300px;
  min-height: 350px;
  border-width: 5px;
  border-color: white;
  border-style:ridge;
}*/

.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  margin-top: 50px;
}

.register button {
  width:20%;
  height: 30px;
  border-radius: 5px;

}

.register button:hover {
  background-color: red;
  color: black;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
}

.register form {
  display: flex;
  flex-direction: column;
  align-items: center;
}  

.register form input {
  height: 30px;
  width:70%;
  margin: 10px;
  background-color: #000;
  color: black;
}

.register form input:hover {
  translate: 5px -5px;
}

.register h2 {
  margin-top: -50px;
  text-align: center;
}

.requests-list {
}

.requests-list-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.requests-list-heading button {
  height: fit-content;
  margin-right: 20px;
}

.right {
  flex: 1;
}

.section {
  margin-right: 0px;
  padding:10px 10px;
  background-color: #F0E2C1;
  border-style:inset;
  border-width: 5px;
  border-color: ivory;
  color: white;
  text-decoration: none;
}

.section:hover {
  border-style:double;
}

.space-block {
  align-items: center;
  justify-content: center;
  align-self: center;
}

.timestamp {
  
}






